<link rel="stylesheet" type="text/css" href="{{ asset('css/emailFrom.css') }}">
<table cellpadding="0" cellspacing="0">
	<div style="colo:green; font-size: 1.5em;">
	<center>	Numéro de reférence:  {{reference}} </center>
	</div>
	<tr>
		<th>Qestion</th>
		<th>Réponse</th>
	</tr>


	<tr>
		<td>Nom</td>
		<td>{{nom}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Profession</td>
		<td>{{profession}}</td>
	</tr>


	<tr>
		<td>Sexe</td>
		<td>{{sexe}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Terminal utilisé</td>
		<td>{{ternaminal}}</td>
	</tr>
	<tr>
		<td>Réussissez vous à naviguer sur le site sans être aidé ?</td>
		<td>{{bonneNavigation}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Êtes-vous familier avec l’utilisation d’Internet en général?
</td>
		<td>{{connaisTuInternet}}</td>
	</tr>
	<tr>
		<td>Quel est votre site internet préféré ?
</td>
		<td>{{sitePrefere}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Pourquoi ? (facultatif )
</td>
		<td>{{pourquoiSitePreferer}}</td>
	</tr>
	<tr>
		<td>Quel élément attire le plus votre attention sur de la page d'acceuil
</td>
		<td>{{attractionPageAcceuil}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>La barre de recherche est-elle facilement visible?
</td>
		<td>{{barreDeRescherche}}</td>
	</tr>
	<tr>
		<td>Sinon, que proposez vous comme amélioration?
</td>
		<td>{{ameliorationBarreDeRecherche}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Que pensez-vous de la procédure d'inscription?
</td>
		<td>{{inscriptionProzess}}</td>
	</tr>
	<tr>
		<td>Parvenez-vous à vous inscrire sur le site ?
</td>
		<td>{{inscriptionOK}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Si non, veuillez préciser pourquoi
</td>
		<td>{{inscriptionPourQuoi}}</td>
	</tr>
	<tr>
		<td>Que pensez-vous de la procédure de réservation ? :
</td>
		<td>{{reservationProzess}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Parvenez-vous à faire une réservation?
</td>
		<td>{{reservationOK}}</td>
	</tr>
	<tr>
		<td>Si non, veuillez préciser pourquoi
</td>
		<td>{{reservationPourQuoi}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Parvenez vous à accéder aux catégories ?
</td>
		<td>{{acceCategorieOk}}</td>
	</tr>
	<tr>
		<td>Sinon, veuillez préciser pourquoi
</td>
		<td>{{acceCategoriePourQuoi}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Que pensez vous de la présentation des catégories ?
</td>
		<td>{{presentationCategorie}}</td>
	</tr>
	<tr>
		<td>Que proposez vous comme amélioration?
</td>
		<td>{{ameliorationCategorie}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Concernant la section "publicitaire", quelques sont vos remarques ?
</td>
		<td>{{publiciteRemarque}}</td>
	</tr>
	<tr>
		<td>Que proposez vous comme améliorations ?
</td>
		<td>{{ameliorationPublicite}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Comprenez vous utilité de la section partenaire?
</td>
		<td>{{partenaireUtileOK}}</td>
	</tr>
	<tr>
		<td>Si oui qu'en pensez vous ?
</td>
		<td>{{partenaiQuePensezVous}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Avez-vous testé l'abonnement à la newsletter ?
</td>
		<td>{{testNewsLetter}}</td>
	</tr>
	<tr>
		<td>Avez-vous essayer de contacter l'équipe via la section "Contact" ?
</td>
		<td>{{testContact}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Etes-vous satisfait des réponses reçues par email ?
</td>
		<td>{{reponseParamilOK}}</td>
	</tr>
	<tr>
		<td>Parvenez vous à accéder aux pages (facebook , Twitter, Youtube) de wonja237 ?
</td>
		<td>{{reseauOk}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Profession</td>
		<td>{{profession}}</td>
	</tr>



	<tr>
		<td>Parvenez vous à accéder aux pages (facebook , Twitter, Youtube) de wonja237 ?
</td>
		<td>{{reseauOk}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Profession</td>
		<td>{{profession}}</td>
	</tr>


	<tr>
		<td>Parvenez vous à accéder aux pages (facebook , Twitter, Youtube) de wonja237 ?
</td>
		<td>{{reseauOk}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Avez-vous d’autre amélioration du site à proposer ?
</td>
		<td>{{ameliorationGlobale}}</td>
	</tr>

	<tr>
		<td>Structure du contenu

</td>
		<td>{{structureDuContenu}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Pertinence du contenu

</td>
		<td>{{pertinenceContenu}}</td>
	</tr>

	<tr>
		<td>Design de l’interface

		<td>{{design}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Ergonomie:
</td>
		<td>{{ergonomie}}</td>
	</tr>

	<tr>
		<td>Simplicte:

</td>
		<td>{{simplicte}}</td>
	</tr>

	<tr style="background-color:#fff;">
		<td>Intuitivité:
</td>
		<td>{{intuitivite}}</td>
	</tr>

	<tr>
		<td>originalité:

</td>
		<td>{{simplicte}}</td>
	</tr>
</table>


<style media="screen">
table {
width: 100%;
border: 1px solid #cef;
text-align: left;
background-color: #E0E0E0;}
th {
font-weight: bold;
background-color: #acf;
border-bottom: 1px solid #cef; }
td,th {
padding: 4px 5px; }


.odd {
background-color: #def; }
.odd td {
border-bottom: 1px solid #cef; }
</style>
<script type="text/javascript">
$(document).ready(function(){
$("tr:odd").addClass("odd");
});
</script>
