{% extends 'layoutP.html.twig' %}

{% block body %}
    <h1>Reservations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Number</th>
                <th>Ville</th>
                <th>Exigence</th>
                <th>Date</th>
                <th>Datedereservation</th>
                <th>Lu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('admin_reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td>{{ reservation.name }}</td>
                <td>{{ reservation.surname }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.number }}</td>
                <td>{{ reservation.ville }}</td>
                <td>{{ reservation.exigence }}</td>
                <td>{% if reservation.date %}{{ reservation.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reservation.dateDeReservation %}{{ reservation.dateDeReservation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reservation.lu %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_reservation_show', { 'id': reservation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_reservation_edit', { 'id': reservation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_reservation_new') }}">Create a new reservation</a>
        </li>
    </ul>
{% endblock %}
