<div class="publicite1">

  <link rel="stylesheet" type="text/css" href="{{ asset('css/publicite.css') }}">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <section class="team-sec">
    <div class="container">
      <div class="row">
        <div id="carousel-example" class="carousel slide team team-web-view" data-ride="carousel">
          <div class="carousel-line">
            <div class="controls pull-right">
              <a class="left fa fa-angle-left btn" href="#carousel-example" data-slide="prev"></a>
              <a class="right fa fa-angle-right btn " href="#carousel-example" data-slide="next"></a>
            </div>
          </div>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">

            <div class="item active">
              <div class="row">

                {% for item in publicitesDefile %}
                  {% set index = loop.index - 1 %}
                  {% if index < 4 %}
                  <div class="col-sm-3">
                    <div class="col-item">
                      <div class=""></div>
                      <div class="photo">
                        <a href="{{ item.link }}" target="_blank">
                        <img src="{{ asset(item.webPath)}}" class="img-responsive" style="height:100%">
                        </a>
                      </div>
                      <div class="info">
                        <div class="name"></div>
                        <div class="degination">{{ item.name}}
                        </div>
                        <div class="social-connect">
                          <a href="{{ item.facebook }}" target="_blank">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a href="{{ item.twiter }}" target="_blank">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="{{ item.instagram }}" target="_blank">
                            <i class="fa fa-instagram"></i>
                          </a>

                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}

              </div>
            </div>

            <div class="item">
              <div class="row">
                {% for item in publicitesDefile %}
                  {% set index = loop.index - 1 %}
                  {% if index >= 4 %}
                    <div class="col-sm-3">
                      <div class="col-item">
                        <div class="photo">
                          <img src="{{ asset(item.webPath)}}" class="img-responsive" style="height:100%">
                        </div>
                        <div class="info">
                          <div class="name"></div>
                          <div class="degination">{{ item.name  }}</div>
                          <div class="social-connect">
                            <a href="javascript:void(0);">
                              <i class="fa fa-facebook"></i>
                            </a>
                            <a href="javascript:void(0);">
                              <i class="fa fa-twitter"></i>
                            </a>
                            <a href="javascript:void(0);">
                              <i class="fa fa-instagram"></i>
                            </a>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>

                  {% endif %}
                {% endfor %}
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<div class="publicite2">

  <style class="cp-pen-styles">
    .swiper-container {
      width: 100%;
      height: 200px;
    }
    body > div > div.publicite2 > div > div.swiper-wrapper > div > img {
      height: 200px;
      max-width: 300%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      /*width:90%;*/
    }

  </style>
</head>
<body>
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for item in publicitesDefile %}
        <div class="swiper-slide"><img src="{{ asset(item.webPath)}}" class="img-responsive"/></div>

      {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <script >
    var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      spaceBetween: 0,
      //loop: true,
      autoplay: 2500,
      autoplayDisableOnInteraction: false,
      slidesPerView: 4,
      coverflow: {
        rotate: 30,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true
      }
    });

    //# sourceURL=pen.js
  </script>
</body>
</html>
</div>
