{% extends 'layoutPublic.html.twig' %}

{% block body %}
<br><br><br><br>
<link rel="stylesheet" type="text/css" href="{{ asset('css/formulaire.css') }}">

  <div class="modal" id="infos">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h4 class="modal-title">Regles et Conditions Wonja237:</h4>
        </div>
        <div class="modal-body">
          1. Avant d'utiliser le service de réservation de WONJA, lisez attentivement ces CONDITIONS. En acceptant ou en utilisant ce service, vous acceptez sans réserve les Conditions énoncées ci-dessous avec WONJA237 et serez liés par elles.<br>
          2. Nous pouvons modifier le présent Contrat à tout moment en publiant les termes modifiés sur le site Web. Tous les termes modifiés entreront automatiquement en vigueur 30 jours après leur publication initiale sur le site Web ou votre utilisation des
          services après cette publication, selon ce qui est antérieur.
          <br>
          3. En acceptant ces termes et conditions, vous représentez ce qui suit:<br>
          • Vous avez 18 ans (dix-huit) ans ou plus;<br>
          • Capable de conclure un accord juridiquement contraignant;<br>
          • Vous disposez d'un droit, d'une autorité et d'une capacité valides et subsistants pour entrer dans ces Conditions et pour respecter tous les termes et conditions contenus dans ce document; et<br>
          • Vous n'imitez pas une personne ou une entité, ou indiquez faussement ou déformez autrement l'identité, l'âge ou l'affiliation avec une personne ou une entité.<br>
          6. Toutes les références dans ces termes et conditions à "Vous" ou "Votre" doivent se référer au Client du Site. Toutes les références dans ces termes et conditions à "Nous", "Nous" ou "Notre" désigneront WONJA237, et leurs affiliés respectifs, selon
          le cas. Les clients, les vendeurs et les artistes sont communément appelés utilisateurs.<br><br>
          <span class="condition">
            La procédure
          </span>
          <br>
          Nous vous offrons un large panel diversifié, d’Artistes de diverses catégories et compétences ; A chacun a été attribuée une page contenant des informations et identités visuelles afin de vous aider dans vos choix. Dans chacune des pages, a été
          intégré un bouton « réservé » qui vous conduit au « formulaire de réservation » que vous êtes tenu de remplir et valider ayant lu et accepté les présentes conditions.<br><br>
          Chaque formulaire de réservation contient des informations nécessaires à la réservation, vous confirmez donc que les informations que vous avez fournies sont vraies et vérifiables.<br><br>
          Toutes les informations personnelles seront tenues confidentielles par nous et les équipes managériales, sauf dans le cas où des obligations légales et judiciaires nous sont imposées.<br>
          Après validation de votre réservation, nous nous engageons alors à vous répondre sous les 24h suivant la validation de votre requête au(x) contact(s) que vous nous aurez fournis.<br>
          En cas de validation de la requête de réservation par l’artiste, nous vous notifierons et dresserons un contrat qui vous liera à l’artiste selon les termes en accords avec vos préférences et les prédispositions prises par nous ;<br>
          Une fois le contrat signé, et le versement du premier paiement dans l’un de nos comptes effectué, par vous, nous vous ferons parvenir une copie du contrat signé (par vous, l’artiste et/ou son représentant légal), suivi d’une vidéo (où l’artiste
          confirme sa présence à votre évènement) et des preuves attestant la réception de votre premier versement.<br>
          En outre vous êtes tenu, de conserver les reçus de vos versements.<br>
          Le jour de l’évènement, avant la prestation de l’artiste, vous devez faire le dernier versement pour que l’artiste puisse sans contrainte honorer les clauses du contrat qui le lie à vous.<br><br>
          <span class="condition">
            Vos obligations
          </span>
          <br>
          En cas d’annulation/report, une fois le contrat signé :<br>
          - Si l’annulation vient de vous, nous vous retournerons les fonds de votre versement, ayant déduit nos honoraires et les frais d’indemnisation de l’artiste (10% du versement).<br>
          - Dans le cas d’un report de votre évènement et que vous maintenez votre réservation, le contrat devra être revu et de nouvelles clauses s’ajouteront à celui-ci, selon votre arrangement avec l’artiste et/ou son représentant légal. Nos honoraires ne
          fluctueront pas.<br><br>
          En cas de changement de lieu ou de toute modification de la nature et du déroulement de l’évènement comme mentionné dans le contrat, nous et l’artiste devront être informés dans les plus bref délais ; Une potentielle modification des clauses du
          contrat pourra être nécessaire, selon l’arrangement entre les parties.<br>
          Le contrat est modulable en fonction de vos préférences et des négociations avec les artistes, ainsi toutes les clauses du contrat résulteront d’un commun accord entre vous, l’artiste et nous.<br><br>
          <span class="condition">
            Les obligations de l’artiste
          </span>
          <br>
          Elles se résument essentiellement à honorer le contrat.<br><br>
          <span class="condition">
            En cas de litige :
          </span>
          <br>

          - Nous conseillons fortement le dialogue et l’entendement mutuel avant toute chose.<br>
          - Chaque partie est libre de solliciter les instances judiciaires camerounaises en cas de non-respect de l’une des clauses du contrat, mais avant nous devrons être informé dans un délai de 72h.<br>
          - En cas de mésentente en vous et l’artiste, nous sommes d’abord les intermédiaires.<br><br>
          <span class="condition">
            Nos partenaires
          </span>
          <br><br>
          Si vous sollicitez les services de l’un de nos partenaires, nous ne sommes en rien responsables du contrat qui vous lie. Nous assurons juste la mise en contact par l’intermédiaire de notre site.<br>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <br><br>
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <div class="card">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Reserver</a>
            </li>
            <li role="presentation">
              <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Conditions de Reservation</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">

              <div class="login-card">

                <div class="espace"></div>

                {{ form_start(form) }}
                <br><br>
                {% if app.session.flashbag.has('user-notice') %}
                  <div class="alert alert-success">
                    {% for msg in app.session.flashbag.get('user-notice') %}
                      <button type="button" class="close" data-dismiss="alert" name="button">

                        <span aria-hidden="true">&times;
                        </span>
                        <span class="sr-only">Close</span>
                      </button>
                      <a href="/" class="alert-link">{{ msg }}</a>

                    {% endfor %}
                  </div>
                {% endif %}
                <div class="group">
                  {{ form_widget(form.name)}}
                  <span class="bar"></span>
                  <label>
                    <i class="glyphicon glyphicon-user"></i>
                    <span class="span-input">
                      {{ form_label(form.name) }}</span>
                  </label>

                </div>


                <div class="group">
                  {{ form_widget(form.surname)}}
                  <span class="bar"></span>
                  <label>
                    <i class="glyphicon glyphicon-user"></i>
                    <span class="span-input">
                      {{ form_label(form.surname) }}</span>
                  </label>

                </div>

                <div class="group">
                  {{ form_widget(form.email)}}
                  <span class="bar"></span>
                  <label>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <span class="span-input">
                      {{ form_label(form.email) }}</span>
                  </label>
                </div>

                <div class="group">

                  {{ form_widget(form.ville)}}

                  <span class="bar"></span>
                  <label>
                    <i class="glyphicon glyphicon-home"></i>
                    <span class="span-input">
                      {{ form_label(form.ville) }}</span>
                  </label>
                </div>

                <div class="group">
                  {{ form_widget(form.number)}}
                  <span class="bar"></span>
                  <label>
                    <i class="glyphicon glyphicon-phone"></i>
                    <span class="span-input">
                      {{ form_label(form.number) }}</span>
                  </label>

                </div>

                <div class="group">
                  {{ form_widget(form.number2)}}
                  <span class="bar"></span>
                  <label>
                    <i class="glyphicon glyphicon-phone"></i>
                    <span class="span-input">
                      {{ form_label(form.number2 ) }}</span>
                  </label>

                </div>





                <div class="">
                  <div class="">
                    <div class="col-md-4 control-label">
                      {{ form_label(form.typeDeReservation, 'Type d\'évènement:') }}
                    </div>
                    <div class="col-md-6">
                      {{form_widget(form.typeDeReservation, {'attr':{'class':'form-control input-md'}})}}
                      <br>
                      <br>
                    </div>
                  </div>
                </div>
<br><br>
                <div class="group">
                  {{ form_widget(form.typeDeReservatioAutren)}}
                  <span class="bar"></span>
                  <label>
                    <i class="glyphicon "></i>
                    <span class="span-input">
                      {{ form_label(form.typeDeReservatioAutren, 'Autre_Type_d\'évènement: ' ) }}</span>
                  </label>

                </div>

<br>
                <div class="row">
  <div class="col-sm-6">

<div class="row">
  <div class="col-sm-12" >
    <div class="bon">
      {{ form_label(form.dateDeReservation, 'Date de l\'évènement:') }}&nbsp&nbsp
      {{form_widget(form.dateDeReservation, {'attr':{'class':''}})}}
      <br><br>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" >
    <div class="bon">
      {{ form_label(form.startTime, 'Heure de l\'évènement:') }}&nbsp&nbsp
      {{form_widget(form.startTime, {'attr':{'class':''}})}}
      <br><br>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <a data-toggle="modal" href="#infos" class="btn btn-primary" href="#">Regles et Conditions de Reservation</a>

  </div>
  <br><br><br>
</div>
<div class="row">
  <div class="col-sm-12">
    {{ form_row(form.lu)}}&nbsp&nbsp

  </div>
</div>
  </div>
  <div class="col-sm-6" >
    {{ form_row(form.exigence, {'attr':{'class':'form-control'}})}}</span>

  </div>
  </div>


                <div class="col-md-6 form-line">

                  <div class="form-group">
                    <span class="exigence">

                    <br><br>
                    <span class="exigence" id="checbox">
                    </span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <span class="exigence">
                      {{ form_row(form.exigence, {'attr':{'class':'form-control'}})}}</span>
                  </div>
                  <br>
                  <button class="btn btn-default submit" type="submit">Envoyer<i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </button><br>

                  <br>
                  {{ form_end(form) }}
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="messages">
              1. Avant d'utiliser le service de réservation de WONJA, lisez attentivement ces CONDITIONS. En acceptant ou en utilisant ce service, vous acceptez sans réserve les Conditions énoncées ci-dessous avec WONJA237 et serez liés par elles.<br>
              2. Nous pouvons modifier le présent Contrat à tout moment en publiant les termes modifiés sur le site Web. Tous les termes modifiés entreront automatiquement en vigueur 30 jours après leur publication initiale sur le site Web ou votre utilisation des
              services après cette publication, selon ce qui est antérieur.
              <br>
              3. En acceptant ces termes et conditions, vous représentez ce qui suit:<br>
              • Vous avez 18 ans (dix-huit) ans ou plus;<br>
              • Capable de conclure un accord juridiquement contraignant;<br>
              • Vous disposez d'un droit, d'une autorité et d'une capacité valides et subsistants pour entrer dans ces Conditions et pour respecter tous les termes et conditions contenus dans ce document; et<br>
              • Vous n'imitez pas une personne ou une entité, ou indiquez faussement ou déformez autrement l'identité, l'âge ou l'affiliation avec une personne ou une entité.<br>
              6. Toutes les références dans ces termes et conditions à "Vous" ou "Votre" doivent se référer au Client du Site. Toutes les références dans ces termes et conditions à "Nous", "Nous" ou "Notre" désigneront WONJA237, et leurs affiliés respectifs, selon
              le cas. Les clients, les vendeurs et les artistes sont communément appelés utilisateurs.<br><br>
              <span class="condition">
                La procédure
              </span>
              <br>
              Nous vous offrons un large panel diversifié, d’Artistes de diverses catégories et compétences ; A chacun a été attribuée une page contenant des informations et identités visuelles afin de vous aider dans vos choix. Dans chacune des pages, a été
              intégré un bouton « réservé » qui vous conduit au « formulaire de réservation » que vous êtes tenu de remplir et valider ayant lu et accepté les présentes conditions.<br><br>
              Chaque formulaire de réservation contient des informations nécessaires à la réservation, vous confirmez donc que les informations que vous avez fournies sont vraies et vérifiables.<br><br>
              Toutes les informations personnelles seront tenues confidentielles par nous et les équipes managériales, sauf dans le cas où des obligations légales et judiciaires nous sont imposées.<br>
              Après validation de votre réservation, nous nous engageons alors à vous répondre sous les 24h suivant la validation de votre requête au(x) contact(s) que vous nous aurez fournis.<br>
              En cas de validation de la requête de réservation par l’artiste, nous vous notifierons et dresserons un contrat qui vous liera à l’artiste selon les termes en accords avec vos préférences et les prédispositions prises par nous ;<br>
              Une fois le contrat signé, et le versement du premier paiement dans l’un de nos comptes effectué, par vous, nous vous ferons parvenir une copie du contrat signé (par vous, l’artiste et/ou son représentant légal), suivi d’une vidéo (où l’artiste
              confirme sa présence à votre évènement) et des preuves attestant la réception de votre premier versement.<br>
              En outre vous êtes tenu, de conserver les reçus de vos versements.<br>
              Le jour de l’évènement, avant la prestation de l’artiste, vous devez faire le dernier versement pour que l’artiste puisse sans contrainte honorer les clauses du contrat qui le lie à vous.<br><br>
              <span class="condition">
                Vos obligations
              </span>
              <br>
              En cas d’annulation/report, une fois le contrat signé :<br>
              - Si l’annulation vient de vous, nous vous retournerons les fonds de votre versement, ayant déduit nos honoraires et les frais d’indemnisation de l’artiste (10% du versement).<br>
              - Dans le cas d’un report de votre évènement et que vous maintenez votre réservation, le contrat devra être revu et de nouvelles clauses s’ajouteront à celui-ci, selon votre arrangement avec l’artiste et/ou son représentant légal. Nos honoraires ne
              fluctueront pas.<br><br>
              En cas de changement de lieu ou de toute modification de la nature et du déroulement de l’évènement comme mentionné dans le contrat, nous et l’artiste devront être informés dans les plus bref délais ; Une potentielle modification des clauses du
              contrat pourra être nécessaire, selon l’arrangement entre les parties.<br>
              Le contrat est modulable en fonction de vos préférences et des négociations avec les artistes, ainsi toutes les clauses du contrat résulteront d’un commun accord entre vous, l’artiste et nous.<br><br>
              <span class="condition">
                Les obligations de l’artiste
              </span>
              <br>
              Elles se résument essentiellement à honorer le contrat.<br><br>
              <span class="condition">
                En cas de litige :
              </span>
              <br>

              - Nous conseillons fortement le dialogue et l’entendement mutuel avant toute chose.<br>
              - Chaque partie est libre de solliciter les instances judiciaires camerounaises en cas de non-respect de l’une des clauses du contrat, mais avant nous devrons être informé dans un délai de 72h.<br>
              - En cas de mésentente en vous et l’artiste, nous sommes d’abord les intermédiaires.<br><br>
              <span class="condition">
                Nos partenaires
              </span>
              <br><br>
              Si vous sollicitez les services de l’un de nos partenaires, nous ne sommes en rien responsables du contrat qui vous lie. Nous assurons juste la mise en contact par l’intermédiaire de notre site.<br>


        </div>
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
  </div>
{% endblock %}
